type hwaddrs, domain;
type hwaddrs_exec, exec_type, file_type;
init_daemon_domain(hwaddrs)

allow hwaddrs block_device:dir search;
allow hwaddrs misc_block_device:blk_file r_file_perms;
allow hwaddrs hwaddrs_data_file:file rw_file_perms;
file_type_auto_trans(hwaddrs, system_data_file, hwaddrs_data_file);
