unix_socket_send(mediaserver, camera, camera)
unix_socket_send(mediaserver, mpdecision, mpdecision)

allow mediaserver socket_device:sock_file { rw_file_perms };
