allow mm-qcamerad camera_prop:property_service set;
allow mm-qcamerad init:unix_stream_socket connectto;
allow mm-qcamerad property_socket:sock_file write;
allow mm-qcamerad sensors_socket:sock_file read;
