allow platform_app time_daemon:unix_stream_socket connectto;
allow platform_app sysfs_thermal:dir search;
allow platform_app sysfs_thermal:file { read getattr open };
allow platform_app sysfs_thermal:lnk_file read;
