# Access power management controls
allow sensors power_control_device:chr_file w_file_perms;

# Access shared memory logger
allow sensors shared_log_device:chr_file rw_file_perms;

# Stupid blob uses /data/app for the socket, allow creation...
allow sensors apk_data_file:dir { write remove_name add_name };
allow sensors apk_data_file:sock_file create_file_perms;
# And the HAL writes to it *headdesk*
allow system_server apk_data_file:sock_file { getattr rw_file_perms };
# Talk to qmuxd (qmux_radio)
qmux_socket(sensors)
