# Access /sys/devices/system/cpu/
allow thermal-engine sysfs_devices_system_cpu:file rw_file_perms;

binder_use(thermal-engine)

# Some files in /sys/devices/system/cpu may pop in and out of existance,
# defeating our attempt to label them. As a result, they could have the
# sysfs label, not the sysfs_devices_system_cpu label.
# Allow write access for now until we figure out a better solution.
# For example, the following files pop in and out of existance:
# /sys/devices/system/cpu/cpu1/cpufreq/cpuinfo_min_freq
# /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq
allow thermal-engine sysfs:file write;

allow thermal-engine self:capability { dac_override net_admin };

allow thermal-engine system_server:binder call;
allow thermal-engine self:netlink_kobject_uevent_socket { create setopt bind read };
allow thermal-engine sysfs:file write;

allow thermal-engine mpctl_socket:dir w_dir_perms;
