allow thermal-engine power_service:service_manager find;
binder_call(thermal-engine, servicemanager)
binder_call(thermal-engine, system_server)
binder_use(thermal-engine)
