type tune2fs, domain;
type tune2fs_exec, exec_type, file_type;

# Started by init
init_daemon_domain(tune2fs)

allow tune2fs userdata_block_device:blk_file { open read write getattr ioctl };
