allow vold encrypt_block_device:blk_file rw_file_perms;
allow vold sensors_persist_file:dir { open read ioctl };
allow vold persist_drm_file:dir { open read ioctl };
